<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" />
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form id="loginForm" method="POST" action="/process-login">
        <input type="email" id="email" placeholder="Email" required name="email"/>
        <input type="password" id="password" placeholder="Password" required name="password"/>
        <button type="submit">Login</button>
    </form>
</body>
</html>
